*{
    margin: 0; 
    padding: 0; 
    /* border: 1px solid red */
}

.displayFlex {
    display: flex;
    justify-content: space-evenly;
}

.box1 {
   box-shadow: 5px 10px 8px #888888;
    height: 500px;
    width: 450px;
    border:gray;
    background-color: #041E42
}

.box2 {
    box-shadow: 5px 10px 8px #888888;
     height: 500px;
     width: 450px;
     border:gray;
     background-color: #9b1c2c;
 }
 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 250px;
    width: 400px;
  }

  h1 {
    color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    /* border: 1px solid red; */
    display: inline;
    /* border-width: thick; */
    margin-top: 20px;

  }
  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }


  .display-flex {
    border: 1px solid red;
     display: flex;
     flex-direction: column;
     background-color:rgb(255, 255, 255);
     height: 300px;
     width: 300px;
     margin-left:100px;
     
    }
    